/logs/**
/target/**
/core/target/**
/event/target/**
/folk-ensemble/target/**
/form/target/**
/ftp-man/target/**
/item/target/**
/psyche/target/**
/service/target/**
/updater/target/**
/data/cache/**
/data/temp/**
/data/config/**
/**/*.iml
/sodalis.ipr
/sodalis.iml